<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxdXZqs4A35Hdcnykv_0gEUGV8Q1NCbtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>829286703089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WatchWise</string>
	<key>PROJECT_ID</key>
	<string>watchwise-11b44</string>
	<key>STORAGE_BUCKET</key>
	<string>watchwise-11b44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829286703089:ios:1dde7d741e0da88f7f2e50</string>
</dict>
</plist>